<footer class="footer">
  <div class="container">

    {% if site.data.settings.mailchimp %}
      {% include subscribe.html %}
    {% endif %}

    {% if site.data.settings.instafeed %}
      {% include instagram.html %}
    {% endif %}

    {% include contact-link.html %}

    <div class="copyright">
      Copyright &copy; {{ site.time | date: '%Y' }} 
      
      <a href="{{ site.baseurl }}/{% if page.lang == 'en' %}en{% else %}pt{% endif %}/">
        {{ site.data.settings[page.lang].title | default: site.data.settings.title }}
      </a> 
      
      — 
      {% if page.lang == 'en' %}
        All Rights Reserved.
      {% else %}
        Todos os Direitos reservados.
      {% endif %}
      
      Powered by <a href="https://rosthanlinux.com/">Rosthanlinux</a>.
    </div>
  </div>
</footer>