---
layout: default
---

<div class="container">
    <article class="page">
        <h1>{{ page.title }}</h1>
        <h2> Por Data</h2>
        <div class="entry">
          
          {% assign previousYear = "" %}
          {% for post in site.posts %}
            {% capture currentYear %}
              {{ post.date | date: "%Y" }}
            {% endcapture %}
          
            {% if currentYear != previousYear %}
              {% assign previousYear = currentYear %}
              <h3>{{ currentYear }}</h3>
            {% endif %}
          
            {{ post.date | date: '%B %d, %Y' }} - <a style="font-weight: bold" href="{{ post.url }}">{{ post.title }}</a>
            <br />
          {% endfor %}    
        </div>
      </article>
</div>

<div class="container">
    <article class="page">
        <h2> Por Data</h2>
        <div class="entry">
          
          {% assign previousYear = "" %}
          {% for post in site.posts %}
            {% capture currentYear %}
              {{ post.date | date: "%Y" }}
            {% endcapture %}
          
            {% if currentYear != previousYear %}
              {% assign previousYear = currentYear %}
              <h3>{{ currentYear }}</h3>
            {% endif %}
          
            {{ post.date | date: '%B %d, %Y' }} - <a style="font-weight: bold" href="{{ post.url }}">{{ post.title }}</a>
            <br />
          {% endfor %}    
        </div>
      </article>
</div>


