---
layout: default
---

<div class="container">
  <article class="page">
    <h1>{{ page.title }}</h1>
    <h2> Por Data</h2>
    <div class="entry">
      {% assign previousYear = "" %}
      {% for post in site.posts %}
        {% capture currentYear %}
          {{ post.date | date: "%Y" }}
        {% endcapture %}
        {% if currentYear != previousYear %}
          {% assign previousYear = currentYear %}
          <h3>{{ currentYear }}</h3>
        {% endif %}
        {{ post.date | date: '%B %d, %Y' }} - <a style="font-weight: bold" href="{{ post.url }}">{{ post.title }}</a>
        <br />
      {% endfor %}
    </div>
     <br /><br />
    <h2> Por Tag</h2>
    <div class="entry">
      {% for post in site.posts %}
        {% assign tags = tags | concat:post.tags %}
      {% endfor %}
      {% assign tags = tags | uniq | sort %}
      {% for tag in tags %}
        <h3 id="{{ tag | slugify }}">{{ tag }}</h3>
        <ul>
          {% for post in site.posts %}
            {% if post.tags contains tag %}
              <li>
                <a href="{{ post.url }}"> {{ post.title }} </a>
                <small>{{ post.date | date: "%B %-d, %Y" }}</small>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </article>
</div>
